@charset "UTF-8";

/* 共通 */
html {
    font-size: 100%;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #fff;
    color: #323232;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
li {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}

.wrapper {
    max-width: 1240px;
    margin: 0 auto;
}
.site-title {
    font-family: 'Century', serif;
    color: #fff;
    text-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
    font-size: 72px;
}
.section-title {
    font-family: 'Century', serif;
    font-size: 48px;
    font-weight: normal;
    position: relative;
}
.section-title::after {
    content: "";
    display: block;
    width: 140px;
    height: 8px;
    background-color: #d3f08c;
    position: absolute;
    bottom: -20px;
    left: 0;
}

/* header */
#header {
    height: 100vh;
    background-image: url('../img/mainvisual.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    position: relative;
}
#header .site-title {
    text-align: center;
    line-height: 100vh;
}

/* nav-close */
nav .flex {
    display: flex;
    justify-content: flex-end;
}
nav .menu-button {
    position: absolute;
    top: 80px;
    width: 36px;
    cursor: pointer;
    transition: opacity 0.6s ease, visibility 0.6s ease;
    opacity: 1;
    visibility: visible;
}
nav .menu-button.hidden {
    opacity: 0;
    visibility: hidden;
}

/* nav-open */
nav .close-button {
    position: absolute;
    top: 80px;
    width: 36px;
    cursor: pointer;
}
nav .nav-list-open {
    width: 100%;
    height: 180px;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 0.6s ease, visibility 0.6s ease;
    visibility: hidden;
}
nav .nav-list-open.active {
    opacity: 1;
    visibility: visible;
}
nav .nav-list {
    padding: 80px 0;
    display: flex;
    position: absolute;
    top: 0;
}
nav .nav-list li {
    margin-right: 40px;
}
nav .nav-list li a {
    font-size: 20px;
    font-family: 'Century', serif;
}

/* news */
#news {
    padding-top: 160px;
    padding-bottom: 180px;
}
#news .section-title {
    margin-bottom: 54px;
}
#news .news-list li {
    padding: 30px 28px;
}
#news .news-list li a {
    font-size: 18px;
}
#news .news-list li a:hover {
    text-decoration: underline;
}
#news .news-list li:nth-child(odd) {
    background-color: #f7fee4;
}
#news .news-list li time {
    margin-right: 64px;
}

/* about */
#about {
    padding-top: 90px;
    padding-bottom: 530px;
    background-color: #f7fee4;
    position: relative;
    overflow-x: clip;
}
#about .section-title {
    margin-bottom: 120px;
}
#about .text {
    position: absolute;
    z-index: 1;
    margin-left: 48px;
}
#about .text p {
    text-align: center;
    font-size: 18px;
    line-height: 48px;
}
#about .about-img {
    position: absolute;
    top: -180px;
    right: -150px;
    z-index: 0;
}

/* menu */
#menu {
    padding-top: 110px;
    padding-bottom: 280px;
}
#menu .section-title {
    margin-bottom: 92px;
}
#menu .menu-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}
#menu .menu-list li {
    margin-bottom: 80px;
}
#menu .menu-list li img {
    max-width: 100%;
    margin-bottom: 18px;
}
#menu .menu-list li p {
    font-size: 18px;
    line-height: 32px;
}
#menu .more {
    font-size: 24px;
    color: #6d6d6d;
    text-align: center;
}

/* floor */
#floor .section-title {
    margin-bottom: 56px;
}
#floor .floor-img {
    width: 100%;
}

/* shop */
#shop {
    padding-top: 280px;
    padding-bottom: 280px;
    background-color: #f7fee4;
}
#shop .section-title {
    margin-bottom: 100px;
}
#shop .flex {
    display: flex;
}
#shop .detail-list {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    line-height: 36px;
}
#shop .detail-list dt {
    width: 20%;
}
#shop .detail-list dd {
    width: 80%;
    margin-bottom: 48px;
}
#shop iframe {
    width: 50%;
    height: 390px;
}

/* footer */
#footer {
    background-color: #e0e0e0;
    padding-top: 160px;
    padding-bottom: 20px;
}
#footer .copyright {
    font-size: 18px;
    text-align: center;
}


/* タブレット・SP版 */
@media screen and (max-width: 1240px) {

    /* 共通 */
    .wrapper {
        padding: 0 20px;
    }
    .site-title {
        font-size: 36px;
    }
    .section-title {
        font-size: 24px;
    }
    .section-title::after {
        width: 64px;
        height: 4px;
        bottom: -10px;
    }
    

    /* header */
    /* nav-close */
    nav .menu-button {
        top: 30px;
    }

    /* nav-open */
    nav .close-button {
        top: 30px;
    }
    nav .nav-list-open {
        height: 100%;
    }
    nav .nav-list {
        padding: 40px 0;
        flex-direction: column;
    }
    nav .nav-list li {
        margin-right: 0;
        margin-bottom: 32px;
    }

    /* news */
    #news {
        padding-top: 40px;
        padding-bottom: 48px;
    }
    #news .section-title {
        margin-bottom: 30px;
    }
    #news .news-list li {
        padding: 15px 14px;
    }
    #news .news-list li a {
        font-size: 12px;
    }
    #news .news-list li time {
        margin-right: 20px;
    }

    /* about */
    #about {
        padding-top: 40px;
        padding-bottom: 550px;
    }
    #about .section-title {
        margin-bottom: 40px;
    }
    #about .text {
        margin-left: 0;
        top: 35%;
        left: 15%;
    }
    #about .text p {
        font-size: 12px;
        line-height: 24px;
    }
    #about .about-img {
        width: 500px;
        top: 10%;
        right: 0;
    }

    /* menu */
    #menu {
        padding-top: 40px;
        padding-bottom: 60px;
    }
    #menu .section-title {
        margin-bottom: 45px;
    }
    #menu .menu-list {
        flex-direction: column;
        align-items: center;
    }
    #menu .menu-list li {
        text-align: center;
        width: 50%;
        margin-bottom: 20px;
    }
    #menu .menu-list li img {
        margin-bottom: 10px;
    }
    #menu .menu-list li p {
        font-size: 12px;
        line-height: 24px;
    }
    #menu .more {
        font-size: 12px;
    }

    /* floor */
    #floor .section-title {
        margin-bottom: 28px;
    }
    #floor .floor-img {
        height: 380px;
        object-fit: cover;
        object-position: center top;
    }

    /* shop */
    #shop {
        padding-top: 40px;
        padding-bottom: 90px;
    }
    #shop .section-title {
        margin-bottom: 40px;
    }
    #shop .flex {
        flex-direction: column;
    }
    #shop .detail-list {
        width: 100%;
        font-size: 12px;
        line-height: 24px;
    }
    #shop .detail-list dd {
        margin-bottom: 30px;
    }
    #shop iframe {
        width: 100%;
        height: 200px;
    }

    /* footer */
    #footer {
        padding-top: 60px;
        padding-bottom: 20px;
    }
    #footer .copyright {
        font-size: 10px;
    }

}

/* SP版 */
@media screen and (max-width: 880px) {
    /* about */
    #about {
        overflow-x: hidden;
    }
    #about .text {
        top: auto;
        left: 0;
        right: 0;
    }
    #about .about-img {
        width: 100%;
        top: 210px;
        right: 0;
        left: 0;
    }
}